body {
  background-color: #1c1c1c;
}

.wrapper {
  max-width: 550px;
  background-color: #1f2937;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.wrapper-description {
  padding-right: 52px;
  padding-left: 52px;
}

.description h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 118px;
}

.description span {
  color: #55f991;
}

.description h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #d5d4d8;
  margin-top: 5px;
  margin-bottom: 51px;
}

.button {
  width: 223px;
  height: 42px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ico_arrow {
  background-image: url('./images/icon_button.svg');
  width: 14px;
  height: 18px;
}

.icon-square {
  width: 20px;
  height: 20px;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.line {
  width: 446px;
  height: 0px;
  border: 1px solid #2f3e53;
  margin-top: 35px;
  margin-bottom: 35px;
}
.wrapper-output {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 26px;
}
.output {
  width: 320px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
  text-align: center;
  color: #55f991;
  background-image: url(./images/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  background-image: none;
}

.input {
  width: 300px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #55f991;
  margin-bottom: 15px;
  padding: 10px;
}

.input button {
  width: 70px;
  height: 32px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 15px;
}

.button-save {
  width: 70px;
  height: 32px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 15px;
}

.input input {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-left: 10px;
}

.input label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popuptext {
  visibility: hidden;
  width: 400px;
  /* background-color: #555; */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttons-wrapper {
  display: flex;
  gap: 15px;
}
